/* Responsive now  */
@media (max-width: 767px) {
  .logo {
    transform: translateX(100px);
  }
  .searchBtn {
    left: 0;
    transform: translateX(30px);
  }
  .closeBtn {
    left: 0;
    transform: translateX(25px);
  }
  .menuToggle {
    position: absolute;
    display: block;
    font-size: 1.5em;
    cursor: pointer;
    transform: translateX(30px);
    z-index: 10;
  }
  header .navigation {
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }
  header.open .navigation {
    top: 80px;
    opacity: 1;
    visibility: visible;
    left: 0;
    display: flex;
    padding: 10px 20px;
    flex-direction: column;
    background: #fff;
    width: 100%;
    height: calc(100vh - 80px);
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }
  header.open .navigation li a {
    top: 10px;
  }
  .hide {
    display: none;
  }
  header .User {
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }
  header.open .User {
    left: 0;
    opacity: 1;
    visibility: visible;
    flex-direction: column;
    top: 290px;
  }
  header.open .User .but {
    flex-direction: column;
    margin-left: 10px;
  }
  header .icons {
    transform: translateX(220%);
    margin-top: 3px;
  }
  .banner img {
    margin-top: 20%;
    width: 100%;
    height: 100%;
    margin-left: 0;
  }
}
